<div class="jumbotron">
    <h1 class="display-4 text-center">About Github-Users App</h1>
    <hr class="my-4">
    <p class="lead text-center">An Angular app that let's you access github users info and their repositories.</p>
  </div>
<div class="row">
    <div class="col-md-12" id="info">
    <h1>How it works</h1>
    <br>
    <p>Just enter the username of the developer you are looking for and 
        his profile appears.
    </p>
    <h2>For repos</h2>
    <br>
    <p>To access the users repos just click on the available button 
        labeled 'see users repos'.
    </p>

    </div>
   

</div>