#name{
    text-align: center;
    border: solid #000000 2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    background-color: white;

}


#head{
    background-color: gray;
    font-size: large;
    font-weight: bolder;
   }
   #card{
       padding-bottom: 15px;
       border:2px solid black;  
       height: 20%;
       color: whitesmoke;    
   }